GOOGLE_GENAI_USE_VERTEXAI=1
BIGQUERY_DATA_PROJECT=
GOOGLE_CLOUD_LOCATION=us-central1

# Added variables
GOOGLE_CLOUD_PROJECT=
BIGQUERY_RUN_PROJECT_ID=
BIGQUERY_DATA_PROJECT_ID=
STAGING_BUCKET="gs://BUCKET_NAME"
AUTH_ID="bigquery-agent-auth"
AGENT_DISPLAY_NAME="BigQuery Agent"
URL_MCP_TOOLSET="http://127.0.0.1:8080" 
AUTHORIZATION_ID="bigquery-agent-auth" # A unique ID for the authorization, e.g., "gcal-agent-auth"
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET="" # The OAuth 2.0 Client Secret from your Google Cloud project
SCOPES="https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/cloud-platform" # A space-separated list of OAuth scopes, e.g., "https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/userinfo.email"
DISCOVERY_ENGINE_API_BASE_URL="https://discoveryengine.googleapis.com/v1alpha"
LOCAL_DEV=